@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Playfair+Display:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Playfair Display', serif;
}
/* -------- HEADER -------- */
#header{
    position:fixed;
    top: 0;
    width: 100%;
    min-height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}
.logo{
    width: 60vw;
}
#header-img{
    width: 100%;
    height: auto;
    max-width: 200px;
}
nav > ul{
    display: flex;
    justify-content: space-around;
    width: 30vw;
    font-size: 18px;
}
li {
    list-style-type: none;
}
a{
    color: black;
    text-decoration: none;
}

/* -------- FEATURES -------- */
.grid-container {
    display: grid;
    grid-template-columns:10vw 40vw;
    grid-template-rows: 1fr;
    grid-template-areas:
      "icon desc";
  }
#features{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#features .desc {
    grid-area: desc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    padding: 5px;
}
#features .desc > p {
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
}
#features .icon {
    grid-area: icon;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------- PRESENTATION -------- */
#presentation {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

/* -------- CATEGORIES -------- */
#categories{
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 100px;
    margin-bottom: 100px;
}

.card{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 220px;
    border: 1px solid black;
    margin: 0 10px 0;
}
.card > h3{
    background-color: rgb(236, 236, 236);
    width: 100%;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    padding: 10px 0px;
}
.card > p {
    margin: 15px 0px;
    font-weight: bold;
}

.card .btn {
    margin: 15px 0px;
    padding: 5px 20px;
    background-color: rgb(255, 205, 43);
    border: 1px solid black;
    font-weight: bold;
}
.card .btn:hover{
    background-color: rgb(255, 219, 101);
}
/* -------- FOOTER -------- */
#footer{
    background-color: rgb(236, 236, 236);
    width:100%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    height:60px;
}
#footer #email{
    padding:5px;
    width:15vw;
}
#footer #submit{
    padding:5px 20px;
    border: 1px solid black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
#footer #submit:hover{
    background-color: rgb(255, 205, 43);
}

@media (max-width:600px)  { 
/* -------- HEADER -------- */
    .logo{
        width: 100%;
        text-align: center;
    }
    nav{
        display:none;
    }
/* -------- FEATURES -------- */
    #features{
        margin-top: 100px;
    }
/* -------- PRESENTATION -------- */
    #presentation {
        margin: 50px 10px;
    }

/* -------- FEATURES -------- */
    .grid-container {
        grid-template-columns:1fr 2fr;
    }
    #features .desc > h2 {
        font-size: 1em;
    }
    #features .desc > p {
        font-size: .8em;
    }
/* -------- CATEGORIES -------- */
    #categories{
        flex-direction: column;
        margin: 50px 0px;
    }
    .card{
        width: 50vw;
        margin: 10px auto;
    }
    /* -------- FOOTER -------- */
    #footer{
        flex-direction: column;
    }
    #form{
        margin: 10px 0 5px;
    }
    #footer #email{
        padding:3px;
        width:40vw;
    }
    #footer #submit{
        padding:3.5px 10px;
    }
    #footer > p {
        font-size: 14px;
        margin-bottom: 10px;
    }
}
