*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    background-color: royalblue;
    position:fixed;
    top: 0;
    width: 100%;
    min-height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 60vw;
}

#header-img{
    width: 100%;
    height: auto;
    max-width: 200px;
}
nav > ul{
    display: flex;
    justify-content: space-around;
}